<aside class="sidebar">
    <ul>
        <li><a href="@Url.Action("Index", "Dashboard")">Overview</a></li>
        <li><a href="@Url.Action("Index", "Divisions")">Division</a></li>
        <li><a href="@Url.Action("Index", "Departments")">Department</a></li>
        <li><a href="@Url.Action("Index", "PositionDescriptions")">Positions</a></li>
        <li><a href="@Url.Action("Index", "Home")">Logout</a></li>
    </ul>
</aside>

